[user]
	name = Erik Wilthil
	email = erik.wilthil@zeabuz.com
[core]
	editor = vim
	excludesfile = /home/ewilthil/.gitignore
[remote "origin"]
	prune = true
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager-core.exe
[credential "https://dev.azure.com"]
	useHttpPath = true
